@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200&family=Raleway&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", sans-serif;
  /* width: 1600px; */
}

/* header */

header {
  width: 1600px;
  height: 80px;
  background-color: #000;
  color: #fff;
  top: 0;
  left: 0;
  right: 0;
}

header a {
  color: #fff;
  text-decoration: none;
}
.container {
  width: 1600px;
  margin: auto;
  display: flex;
}
.navbar {
  color: red;
  display: flex;
  justify-content: space-around;
}
.brand-frame {
  margin-top: 14px;
  margin-left: 220px;
  border: 1px solid #fff;
  padding: 4px 5px;
}
h1 {
  font-size: 19px;
}

.nav-menu {
  margin-top: 29px;
  margin-left: -150px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.logo-branding {
  width: 7px;
  height: 21px;
  margin-right: -9px;
  filter: brightness(0) invert(1);
}
.header-design {
  margin-top: 39px;
  font-size: 16px;
  color: #fff;
  font-weight: 100;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

.header-design a:hover {
  color: #ffa500;
}
.nav-menu-default {
  color: #ffa500;
}
.nav-menu li a {
  font-size: 16px;
}
.nav-menu li a:hover {
  color: #ffa500;
}
.menu-li-640px {
  display: none !important;
}

#menu,
#menu-check {
  display: none;
  color: #fff;
}

.brand-frame-640px {
  display: none;
}

@media screen and (max-width: 1000px) {
  header {
    width: 1000px;
  }

  .container {
    width: 1000px;
  }

  .brand-frame {
    margin-left: 30px;
  }

  .nav-menu {
    margin-right: 50px;
    gap: 40px;
  }
  .header-design {
    margin-right: 50px;
  }
}

@media screen and (max-width: 640px) {
  .brand-frame {
    border: none;
  }

  .menu-li-640px {
    display: block !important;
  }

  .navbar {
    position: absolute;
    width: 640px;
    height: 329px;
    top: 0px;
    color: #333b41;
    background: #fff;
  }

  .nav-menu {
    position: absolute;
    width: 640px;
    top: 55px;
    left: 160px;
    display: block;
  }
  .nav-menu li {
    margin-top: 15px;
  }

  .nav-menu li a {
    font-size: 16px;
    color: #333B41 ;
  }
  .nav-menu-default {
    color: #333B41 !important;
  }

  #menu-check:not(:checked) ~ nav {
    display: none;
  }
  #menu-check:checked ~ nav {
    display: block;
  }
  #menu {
    position: absolute;
    display: block;
    right: 18px;
    top: 10px;
  }

  #menu:hover {
    color: #fff;
  }

  #menu-open {
    font-size: 42px;
  }

  #menu-close {
    display: none !important;
    display: block;


  }

  #menu-check:checked ~ label #menu-open {
    display: none !important;
  }
  #menu-check:checked ~ label #menu-close {
    display: block !important;
    font-size: 32px;
    font-weight: 400;
    color: #000;
    right: 5px;
    top: 5px;
    position: absolute;
    z-index: 1;
  }

  .brand-frame-640px {
    position: absolute;
    display: block !important;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid #ffa500;
  }

  .brand-frame-640px h2 {
    font-size: 19px;
    color: #ffa500;
  }
  .brand-frame-640px a {
    font-size: 19px;
    color: #ffa500;
    text-decoration: none;
  }
  .logo-branding {
    color: #ffa500;
  }


}

/* Section-watch-favorite-animal */

.watch-favorite-animal {
  background-image: url("../../assets/images/Giant\ Panda.png");
  width: 1600px;
  height: 700px;
  background-size: cover;
}

.container-watch-favorite-animal p {
  font-size: 100px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 80px;
  color: #fff;
}
.container-watch-favorite-animal p span {
  color: #ffee2e;
}
.container-watch-favorite-animal-text {
  width: 500px;
  height: 400px;
  margin-top: -391px;
  margin-left: 880px;
  text-align: center;
}
.container-watch-favorite-animal img {
  width: 465px;
  height: 465px;
  margin-top: 12px;
  margin-left: 807px;
}

.btn-watсh-online {
  position: absolute;
  width: 298px;
  height: 54px;
  left: calc(50% - 298px / 2 + 332px);
  top: 626px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border: 0;
  border-radius: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.btn-watсh-online:hover {
  color: #000;
}

@media screen and (max-width: 1000px) {
  .watch-favorite-animal {
    background-image: url("../../assets/images/Giant\ Panda.png");
    width: 1000px;
    height: 504px;
    background-size: cover;
  }

  .container-watch-favorite-animal p {
    font-size: 85px;
    line-height: 75%;
  }

  .container-watch-favorite-animal-text {
    width: 400px;
    height: 320px;
    margin-top: -320px;
    margin-left: 514px;
  }
  .container-watch-favorite-animal img {
    width: 367px;
    height: 367px;
    margin-top: 10px;
    margin-left: 456px;
  }

  .btn-watсh-online {
    margin-left: -137px;
    top: 483px;
  }

  .btn-watсh-online:hover {
    color: #000;
  }
}

@media screen and (max-width: 640px) {
  .watch-favorite-animal {
    background-image: url("../../assets/images/Giant\ Panda.png");
    width: 640px;
    height: 339px;
    background-size: cover;
  }

  .container-watch-favorite-animal p {
    font-size: 54px;
    line-height: 45px;
    /* background: red; */
  }

  .container-watch-favorite-animal-text {
    width: 255px;
    height: 204px;
    margin-top: -210px;
    margin-left: 368px;
  }
  .container-watch-favorite-animal img {
    width: 237px;
    height: 237px;
    margin-top: 44px;
    margin-left: 330px;
  }

  .btn-watсh-online {
   left: 150px;
    top: 330px;
  }

  .btn-watсh-online:hover {
    color: #000;
  }
}




/* Section-watch-favorite-animal */

.watch-favorite-animal {
  background-image: url("../../assets/images/Giant\ Panda.png");
  width: 1600px;
  height: 390px;
  margin: 0px auto;
  background-size: cover;
}

@media screen and (max-width: 1000px) {
  .watch-favorite-animal {
    background-image: url("../../assets/images/Giant\ Panda.png");
    width: 1000px;
    height: 504px;


  }
}
@media screen and (max-width: 640px) {
  .watch-favorite-animal {
    background-image: url("../../assets/images/Giant\ Panda.png");
    width: 640px;
    height: 335px;


  }
}

/* pick-and-feed */

.donation {
  border: solid 1px transparent;
  height: 1482px;
  width: 1600px;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
}

.container-donation {
  margin-top: 44px;
  width: 1160px;
}

.pick-feed-friend-information {
  display: block;
  align-items: center;
  margin: 0px auto;
}
.pick-feed-friend-information-h2-1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #ffffff;
}
.pick-feed-friend-information p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  margin-top: 6px;
}

.pick-feed-friend-information-h2-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  margin-top: 40px;
  color: #fe9013;
}

.pick-feed {
  height: 964px;
  width: 1160px;
  margin: 84.5px 225px;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px transparent;
}

.pick-feed-friend {
  width: 976px;
  height: 862px;
  margin: 40px 92px 62px 92px;
  text-align: center;
}
.pick-feed-friend-h2-title {
  margin: 40px auto auto auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  color: #fe9013;
}
.pick-feed-friend-p-1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #333b41;
  margin: 20px auto auto auto;
}

.diet-for-day {
  width: 600px;
  display: flex;
  flex-direction: row;
  margin: 60px auto auto auto;
  justify-content: center;
  align-items: center;
}

.diet-for-day-h2-1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  text-transform: uppercase;
  color: #000000;
}
.diet-for-day-h2-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 11px;
}

.amout {
  text-align: left;
}
.amout-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}

.form-control {
  width: 976px;
  border: solid 1px transparent;
  height: 27px;
  background: #404950;
  border-radius: 2px;
  display: flex;
  margin-top: 15px;
  font-family: system-ui, sans-serif;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  /* width: 916px; */
  color: #fff;
}

.amout-title-radio {
  text-transform: uppercase;
  color: #fff;
  width: 10px;
  height: 20px;
  accent-color: #ffee2e;
  padding: 10px;
  transition: 0.2s all linear;

}
.radio-inline{
  font-size: 16px;
}

.form-control-another-amout {
  margin-top: 25px;
}

.another-amout-radio {
  width: 10px;
  height: 20px;
  accent-color: #fe9013;
  padding: 10px;
  transition: 0.2s all linear;
}
.radio-label-monthly-once{
  font-weight: 400;
  font-size: 16px;
  color: #333B41;
}

.btn-feed-friend {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 25px;
}


@media screen and (max-width: 1000px) {
  .donation {
    width: 1000px;
    height: 1333px;
  }

  .container-donation{

    width: 940px;
  }
  .pick-feed {
    width: 940px;
    height: 862px;
    margin: 0 auto;
  }
  .pick-feed-friend {
   width: 860px;
  margin: 15px 40px;
  text-align: center;
  }

  .form-control {
    width: 860px;
    margin: 0;
    display: flex;

  }
  .radio-inline {
    font-size: 12px;
  }
  .another-amout-radio{
  margin-left: 25px;
  }
  .amout-title-radio {
    text-transform: uppercase;
    color: #fff;
    width: 10px;
    height: 20px;
    accent-color: #ffee2e;
    padding: 0px;
    transition: 0.2s all linear;

  }
  .radio-inline{
    font-size: 16px;

  }
}
@media screen and (max-width: 640px) {
  .donation {
    width: 640px;
    height: 1600px;
  }

  .container-donation{

    width: 600px;
  }
  .pick-feed {
    width: 600px;
    height: 862px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pick-feed-friend {
   width: 600px;
  margin: 15px 40px;
  text-align: center;
  }
  .pick-feed-friend-information-h2-1 {
    font-size: 24px;
  }

  .diet-for-day {
    width: 500px;
    display: flex;
    flex-direction: row;
    margin: 60px auto auto auto;
    justify-content: center;
    align-items: center;
  }

  .form-control {
    width: 600px;
    margin: 0;
    display: flex;

  }
  .radio-inline {
    font-size: 12px;
  }
  .another-amout-radio{
  margin-left: 25px;
  }
  .amout-title-radio {
    text-transform: uppercase;
    color: #fff;
    width: 10px;
    height: 20px;
    accent-color: #ffee2e;
    padding: 0px;
    transition: 0.2s all linear;

  }
  .radio-inline{
    font-size: 16px;

  }
}







/* footer */

.footer {
  width: 1600px;
  height: 443px;
  background: #111115;
  padding-top: 40px;
  color: #fff;
}

.btn-feed-friend {
  margin-top: 31px;
  width: 298px;
  height: 54px;
  /* margin-left: 180px; */
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border: 0;
  border-radius: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-left: 0px;
}


.btn-feed-friend:hover{
  color: #000;
}

.monthly-once-p {
  margin-top: 30px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #333B41;
}

footer a {
  color: #fff;
}

.container-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1200px;
  height: 363px;
  margin-left: 220px;
}

.social-media-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.logo-footer {
  margin-top: 0px;
  margin-left: 0px;
  border: 1px solid #fff;
  padding: 4px 5px;
}
.logo-footer h2 {
  font-size: 19px;
}
.logo-footer a {
  font-size: 19px;
  color: #fff;
  text-decoration: none;
}

.btn-footer {
  width: 298px;
  height: 54px;
  /* margin-left: 180px; */
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border: 0;
  border-radius: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-left: 0px;
}
.btn-footer a {
  text-decoration: none;
}

.btn-footer:hover a {
  color: #000;
}
.social-media {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  display: block;
  margin-left: 0px;
}

.social-media li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 5px 0;
  /* margin-left: 0px; */
  text-decoration: none;
  cursor: pointer;
}

.social-media li:hover {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border: 0;
  border-radius: 5px;
  opacity: 0.7;
}

.social-media li a {
  text-decoration: none;
  font-size: 16px;
  margin-left: -10px;
}

.circle-social-media-footer {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  background: rgba(196, 196, 196, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
}

.interactive-navigation-bar {
  display: flex;
  align-items: flex-end;
}

.interactive-navigation-bar ul {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  margin-bottom: 0;
}

.interactive-navigation-bar a {
  text-decoration: none;
}

.footer-menu-default {
  color: #ffa500;
}

.interactive-navigation-bar a:hover {
  color: #ffa500;
}

.subscribe-design {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffff;
}

.subscribe h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 5px;
  color: #ffffff;
}

input {
  width: 228px;
  height: 42px;
  border-color: #ffa500;
  background-color: transparent;
}

input:focus {
  background-color: #929699;
}

::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #bdbdbd;
  padding: 0 5px;
}

.btn-submit-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000;
  background: #f1f3f2;
  width: 129px;
  height: 42px;
  right: 220px;
  border: 1px solid #4b9200;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.btn-submit-footer:hover {
  color: #ffa500;
}
.disigned {
  display: flex;
  flex-direction: column;
  margin-right: 0px;
}

.disigned h6 {
  margin-left: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
}

.another-amout-feed-friend-now{
  margin-top: 92px;
  display: block;
  text-align: center;
}
.another-amout-input{
  width: 268px;
  height: 54px;
  border: 1px solid #929699;
border-radius: 2px;
  background-color: transparent;

}

.another-amout-input:focus {
  background-color: #929699;
}

.another-amout-input::-webkit-outer-spin-button,
.another-amout-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .footer {
    width: 1000px;
    height: 443px;

  }

  .container-footer {
    width: 939px;
    height: 353px;
    margin-left: 30px;
  }

  .footer input{
    margin-left: -100px;
  }


}

@media screen and (max-width: 640px) {
  .footer {
    width: 640px;
    height: 282px;
    /* padding-top: 100px; */
    position: fixed;
  bottom: 0;
  left: 0;
  }
  .subscribe {
    display: none !important;
  }

  .container-footer {
    width: 939px;
    height: 353px;
    margin-left: 30px;
  }


  .interactive-navigation-bar {
    display: flex;
    align-items: flex-end;
    margin-top: 0px;
  }

  .interactive-navigation-bar ul {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    margin-bottom: 0;
  }

  .interactive-navigation-bar a {
    text-decoration: none;
  }
  .social-media{
    position: absolute;
   margin-top: -200px;
   right: -50px;
  }
  .social-media a {
    display: none;
  }

  .logo-footer {
    position: absolute;
    margin-top: -300px;
   left: 20px;
  }

  .btn-footer{
    position: absolute;
    margin-top: -100px;
    left: 20px;
  }

  .interactive-navigation-bar ul {
    position: absolute;
    padding: 120px;
    left: -100px;
    font-size: 16px;
  }

  .nav-menu-default {
    color: #ffa500 !important;
  }
  .disigned{
    position: absolute;
    right: 0;
    margin-top: 200px;
    font-size: 16px;
  }
}
